{% extends 'bootstrap/base.html' %}
{% block title %}
    {% if title %}{{ title }} {% else %} CSGO Empire Scrapper {% endif %}
{% endblock %}

{% block navbar %}
<nav class="navbar navbar-default">
    <a class="navbar-brand" href="{{ url_for('index') }}">Home</a>
    <a class="navbar-brand" href="{{ url_for('scrape') }}">Get newest prices</a>
    <form class="navbar-form navbar-left">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search" id="search">
        </div>
      </form>
    <div></div>
</nav>
{% endblock %}

{% block content %}
    <div class="container">
        {% block app_content%}{% endblock %}
    </div>
{% endblock %}

{% block scripts%}
    {{ super() }}
    {{ moment.include_moment() }}
    <script>
        $(document).ready(function(){
            item_rows = $('tr[id="item_row"]')
        });
        $('#search').on('input', function(){
           let search_text = $('#search').val().toLowerCase()
           Array.from(item_rows).forEach(function(el){
                weapon_name = el.children['weapon_name'].innerText
                skin_name = el.children['skin_name'].innerText
                skin_quality = el.children['skin_quality'].innerText
                name = (weapon_name + " " + skin_name + " " + skin_quality).toLowerCase()
                if(name.includes(search_text)){
                    $(el).show()
                }else{
                    $(el).hide()
                }
           });
        });
    </script>
{% endblock %}