{% extends "base.html" %}
{% block app_content%}
    {% if header %}
        <div class="page-header>">
            <h1>{{ header }}</h1>
        </div>
    {% endif %}
    <table class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th scope="col">Skin quality</th>
                <th scope="col">Weapon name</th>
                <th scope="col">Skin name</th>
                <th scope="col">Min price</th>
                <th scope="col">Max price</th>
                <th scope="col">Scanned on</th>
            </tr>
        </thead>
        <tbody>
        {% for item in items %}
            <tr id="item_row">
                <td id="skin_quality">{{ item.skin_quality }}</td>
                <td id="weapon_name">{{ item.weapon_name }}</td>
                <td id="skin_name">{{ item.skin_name }}</td>
                <td id="min_price">{{ item.min_price }}</td>
                <td id="max_price">{{ item.max_price }}</td>
                <td>{{ moment(item.timestamp).format('LLL') }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}